:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}



.content {
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 1920px;
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: 40% 1fr;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

#description{
  justify-content: center;
  text-align: center;
  grid-column: 1 / 3;
  margin-bottom: 10px;
  padding: 1em;
  font-size: 20px;
 
}

#list-view {
  margin-right: 10px;
  flex: 25%;
}

#maps-view {
  border-radius: 5px;
  flex: 50%;
}

.map-container {
  position: relative;
  margin-top: 10px;
  height: 400px;
}

#iss-3D-view {
  width: 100%3;
  border-radius: 5px;
  margin-top: 10px;
  grid-column: 1 / 3;
}

.view-container-iss {
  padding: 20px;
}


/* Responsive Styles */
@media screen and (max-width: 600px) {
  .content {
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
  }

  #list-view {
    margin-right: 0px;
    flex: 25%;
  }

  #maps-view {
    margin-top: 10px;
    border-radius: 5px;
    flex: 50%;
  }

  .map-container {
    position: relative;
    margin-top: 10px;
    flex: 50%;
    height: 400px;
  }

  #iss-3D-view {
    border-radius: 5px;
    margin-top: 10px;
  }

  .view-container-iss {
    padding: 20px;
  }

}
