<!-- Toolbar -->
<div class="toolbar" role="banner">

  <img id="toolbar-icon-ISS" src="https://clementvaugoyeau.github.io/IssFront/assets/toolbar-icon-ISS.svg">


  <h1 class="toolbar-Title">Tableau de bord de l'ISS</h1>
</div>

<div class="content" role="main">
  <div id="description" class="mat-elevation-z2">
    <!-- Welcome to ISS dashboard, here you can see infos about the international space station. -->
    Bienvenue, ici vous pouvez obtenir des infos à propos de la station spatiale internationale.</div>
  <div id="list-view"  class="mat-elevation-z4">
    <div class="list-container">
      <app-list-astronauts></app-list-astronauts>
    </div>
  </div>

  <div id="maps-view" class="mat-elevation-z4">
    <mat-tab-group>
      <mat-tab label="Carte 2D">
        <div class="map-container">
          <app-map-iss></app-map-iss>
        </div>
      </mat-tab>

      <mat-tab label="Globe 3D"><ng-template matTabContent>
          <app-globe-iss></app-globe-iss>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div id="iss-3D-view" class="mat-elevation-z4">
    <div class="view-container-iss">
      <app-viewport-iss></app-viewport-iss>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
